<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
  <style>
    .info{
      margin-left: 5%;
    }
  </style>
</head>
<body>
<header th:insert="sections/header :: header"></header>

<div class="info">
  <p th:text="'ID: '+ ${landlord.getId()}"></p>
  <p th:text="'Name: '+ ${landlord.getName()}"></p>
  <p th:text="'Phone: '+${landlord.getPhone()}"></p>

<!--  <table class="table" >-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th>Title</th>-->
<!--        <th>Rooms</th>-->
<!--        <th>Address</th>-->
<!--        <th>Price</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr th:each="item:${apartments}">-->
<!--        <th th:text="${item.getTitle()}"></th>-->
<!--        <th th:text="${item.getRoomsAmount()}"></th>-->
<!--        <th th:text="${item.getAddress()}"></th>-->
<!--        <th th:text="${item.getPrice()}"></th>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->
</div>
<button class="btn btn-link"><a href="/landlords/landlords">Back</a></button>

<div th:insert="sections/footer :: footer"></div>
</body>
</html>