<nav class="navbar navbar-expand-lg bg-light" th:fragment="header">
  <div class="container-md">
    <a class="navbar-brand" href="/clients/clients">To Clients</a>
  </div>
  <div class="container-md">
    <a class="navbar-brand" href="/landlords/landlords">To Landlords</a>
  </div>
  <div class="container-md">
    <a class="navbar-brand" href="/apartments/apartments">To Apartments</a>
  </div>
  <div class="container-md">
    <a class="navbar-brand" href="/rents/rents">To Rents</a>
  </div>
</nav>